<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/1f7457abdb.js"></script>
    <title>{% block title %}Test Application{% endblock %}</title>

    <header style="background-color: slategray; ">
        <nav class="navbar navbar-expand-lg navbar-dark info-color">
            <a class="navbar-brand" href="#">Dyalconnect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>-->
        </nav>

    </header>

</head>
<body>
<div style="background: url(https://cdn.discordapp.com/attachments/778247519405998121/786340218676445255/background.jpg)" class="page-holder bg-cover">
<style>
    .page-holder {
        min-height: 100vh;
    }
    .bg-cover {
        background-size: cover !important;
    }
    body
    {
        background-color: #859294;

    }
</style>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>