<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="../../images/background.jpg"></script>
    <title>{% block title %}Test Application{% endblock %}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <header style="background-color: slategray; ">
        <nav class="navbar navbar-expand-lg navbar-dark info-color">
            <a class="navbar-brand" href="http://localhost:9999">Dyalconnect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>

    </header>
    <style>
        head
        {

        }
    </style>
</head>
<body>
<style>
    body
    {
        background: url('https://media.discordapp.net/attachments/778247519405998121/786340218676445255/background.jpg?width=710&height=473') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

    }
</style>
    {% block body %}{% endblock %}
</div>

</body>

</html>